#draggable { 
    width: 100px; 
    height: 100px; 
    padding: 0.5em; 
    margin: 10px 10px 10px 0; }
#droppable { 
    width: 100px; 
    height: 100px; 
    padding: 0.5em; 
    margin: 10px; 
    border-style: solid; 
    text-align: center; }
td {
    width: 50%;
}