h1 {
    text-align: center;
    background-color: maroon;
}
body {
    background-color: gray;
}
#draggable, #draggable1, #draggable2, #draggable3, #draggable4 { 
    width: 100px; 
    height: 100px; 
    padding: 0.5em; 
    margin: 10px 10px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#droppable, #droppable1, #droppable2, #droppable3, #droppable4 { 
    width: 250px; 
    height: 250px; 
    padding: 0.5em; 
    margin: 10px 10px 10px 10px; 
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;}
table {
    margin-left: auto;
    margin-right: auto;
}
td {
    width: 70%
}
p {
    text-align: center;
    color: maroon;
}