h1
{
    text-align: center;
}
#gods
{
    position: absolute;
    left: 100px;
    top: 100px;
}

#creatures
{
    position: absolute;
    align-content: center;
    top: 100px;
}

#stories
{
    position: absolute;
    right: 100px;
    top: 100px;
}

button
{
    height: 200px;
    width: 250px;
}