body
{
    background-image: url("big12.jpg"); 
    background-color: darkgray;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin: 0; 
	padding: 0;
}
h1
{
    text-align: center;
}

h1 span
{
    background-color: black;
    opacity: 75%;
    color: white;
}

#space
{
    top: 50px;
}

button
{
    height: 200px;
    width: 200px;
}

#home
{
    position: absolute;
    left: 550px;
    background-image: url("big12.jpg");
    background-position: center;
    background-size: 200px 200px;
    background-color: black;
    background-repeat: no-repeat;
    color:black
}

#big12image
{
    align-items: center;
}

#aboveHome
{
    position: absolute;
    left: 500px;
    bottom: 200px;
}

#aboveHome span
{
    background-color: black;
    opacity: 75%;
    color: white;
}

#abovegods
{
    position: absolute;
    left: 300px;
    top: 250px;
}

#abovecreatures
{
    position: absolute;
    right: 300px;
    top: 250px;
}

#abovegods span
{
    background-color: black;
    opacity: 75%;
    color: white;
}

#abovecreatures span
{
    background-color: black;
    opacity: 75%;
    color: white;
}

#gods
{
    position: absolute;
    left: 300px;
    top: 300px;
    background-image: url("gods.jpg");
    background-position: center;
    background-size: 200px 200px;
    background-color: black;
    background-repeat: no-repeat;
    color:black

}

#creatures
{
    position: absolute;
    right: 300px;
    top: 300px;
    background-image: url("creatures.jpg");
    background-position: center;
    background-size: 200px 200px;
    background-color: black;
    background-repeat: no-repeat;
    color: black;
}

#big12
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    opacity: 75%;
    color: white;
}

#creaturesTable
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    opacity: 75%;
    color: white;
}

#big12desc
{
    text-align: center;
}

#big12desc span
{
    background-color: black;
    opacity: 75%;
    color: white;
}

#creaturesDecs
{
    text-align: center;
}

#creatureDecs span
{
    background-color: black;
    opacity: 75%;
    color: white;
}