#gods
{
    position: absolute;
    left: 100px;
    top: 100px;
}

#creatures
{
    position: absolute;
    left: 600px;
    top: 100px;
}

#stories
{
    position: absolute;
    left: 1100px;
    top: 100px;
}