h1, h2, p {
    background-color: gray;
    display: inline;
}

p {
    margin: auto;
    text-align: center;
}

body {
    background-image: url("media-handler.php.jpeg"); 
    background-color: darkgray;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.header {
    text-align: center;
    vertical-align: baseline;
}