h1, h2, p {
    background-color: rgba(128, 128, 128, .35);
    display: inline;
    font-size: 200;
}

p {
    margin: auto;
    text-align: center;
}

body {
    background-image: url("media-handler.php.jpeg"); 
    background-color: gray;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.header {
    text-align: center;
}