h1
{
    color: limegreen;
}
table, tr, td
{
    border: 1px solid white;
}

#aboutMe
{
    border-collapse: collapse;
    background-color: black;

}

#topic
{
    color:red
}

#info
{
    color: yellow;
}

h3
{
    color: lightcoral;
}

li
{
    color: deeppink;
}