h1
{
    color: limegreen;
}
table, tr, td
{
    border: 1px solid black;
}

#aboutMe
{
    color: black;
    border-collapse: collapse;
    background-color: deepskyblue;
}

h3
{
    color: lightcoral;
}

li
{
    color: deeppink;
}