h1
{
    color: limegreen;
    text-align: center;
}
table, tr, td
{
    border: 1px solid white;
}

#aboutMe
{
    background-color: black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#family 
{
    text-align: center;
}

.topic
{
    color:red
}

.info
{
    color: yellow;
}

h3
{
    color: lightcoral;
    text-align: center;
}

#hobbies
{
    color: deeppink;
    text-align: center;
    list-style-type: none;
}
li
{
    color: deeppink;
    text-align: center;
    list-style-type: none;
}